*.sdf
SimpleServer/ipch*
SimpleServer/TestResults*
SimpleServer/Debug*
SimpleServer/Release*
SimpleServer/SimpleClient/Debug*
SimpleServer/SimpleClient/Release*
SimpleServer/SimpleServer/Debug*
SimpleServer/SimpleServer/Release*
SimpleServer/SimpleTest/Debug*
SimpleServer/SimpleTest/Release*
SimpleServer/SimpleTest2/Debug*
SimpleServer/SimpleTest2/Release*