*.sdf
*.coverage
SimpleServer/Debug*
SimpleServer/Release*
SimpleServer/SimpleClient/Debug*
SimpleServer/SimpleClient/Release*
SimpleServer/SimpleServer/Debug*
SimpleServer/SimpleServer/Release*
SimpleServer/SimpleTest/Debug*
SimpleServer/SimpleTest/Release*
